:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --fs: 16px;
    --400: 400;
    --600: 600;
    --700: 700;
    --Work-Sans: 'Work Sans', sans-serif;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    font-family: var(--Work-Sans);
    font-size: var(--fs);
    font-weight: var(--400);
    background: var(--Light-pink) url('img/background-pattern-desktop.svg') top no-repeat;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 1rem;
    color: var(--Dark-purple);
}

.hidden {
    display: none;
}

main {
    background: var(--White);
    width: 100%;
    max-width: 530px;
    min-width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 30px -20px black;
    padding: 2rem;
    padding-top: 0;
}

h1 {
    font-size: 2.5rem;
    color: var(--Dark-purple);
}

h2 {
    font-size: 1rem;
    font-weight: var(--600);
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.head {
    justify-content: flex-start;
    align-items: center;
}

button {
    background-image: url('img/icon-plus.svg');
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: var(--White);
    cursor: pointer;
}

h2 {
    transition: all 0.1s ease;
}

h2:hover {
    color: purple;
    cursor: pointer;
}

.answer {
    color: var(--Grayish-purple);
    font-size: 1rem;
    font-weight: var(--400);
    line-height: 1.4rem;
}